
<div class="card-outer-container">
  <div class="card-container">
    <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm-4">
        <div class="well">
          <h4><%= link_to user.first_name, edit_platform_admin_user_path(user) %></h4>
          <h4><%= link_to "Delete User", platform_admin_user_path(user), method: 'delete' %></h4>
        <br>
      </div>
      </div>
    <% end %>
  </div>
</div>
